[Unit]
Description=OHM Session Agent
Requires=dbus.socket
After=dbus.socket

[Service]
ExecStart=/usr/bin/ohm-session-agent
Restart=always
RestartSec=1

[Install]
WantedBy=pre-user-session.target

