*Makefile
*Makefile.in
*.libs
*.deps
*.o
*.lo
*.la
config.*
configure
autom4te.cache/
build-aux/shave
build-aux/shave-libtool
compile
configure
depcomp
documentation.list
include/stamp-h1
install-sh
installroot/
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
ohm-session-agent/ohm-session-agent
plugins/profile/tests/check_profile
plugins/signaling/signaling_marshal.c
plugins/signaling/signaling_marshal.h
plugins/signaling/tests/check_signaling
plugins/videoep/config-parser.c
plugins/videoep/config-parser.h
plugins/videoep/config-scanner.c
ylwrap
.version
RPMS/
aclocal.m4

