[Unit]
Description=OHM Session Agent
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/ohm-session-agent

[Install]
WantedBy=pre-user-session.target

