Source: ohm-plugins-misc
Section: utils
Priority: optional
Maintainer: Krisztian Litkey <krisztian.litkey@nokia.com>
Standards-Version: 3.7.2
Build-Depends: cdbs, debhelper (>= 4.1.0), ohm-dev, libglib2.0-dev, libdbus-glib-1-dev, libdbus-1-dev, libhal-dev, libdres-dev (>= 0.0.7), libtrace-dev, libprofile-dev (>= 0.0.10), libmissioncontrol-dev, libgconf2-dev, libtelepathy-glib-dev, libx11-dev, libxcb1-dev, libxcb-xv0-dev, libxcb-randr0-dev

Package: ohm-plugins-misc
Architecture: any
Depends: ${shlibs:Depends}, ohm, ohm-plugin-core0, osso-mission-control, libdres0 (>= 0.0.7), libprofile0 (>= 0.0.10), policy-settings
XB-GIT-ID: ${Git-Id}
Description: Miscallaneous OHM Nokia plugins.
 OHM Nokia miscallaneous plugins.
 .
 OHM Nokia miscallaneous plugins.

Package: ohm-plugin-console
Architecture: any
Depends: ${shlibs:Depends}, ohm, ohm-plugin-core0
XB-GIT-ID: ${Git-Id}
Description: OHM debug console plugin.
 This package contains a very simple interactive debug console for OHM.
 .
 This package contains a very simple interactive debug console for OHM.

Package: ohm-plugins-misc-dbg
Priority: extra
Section: utils
Architecture: any
Depends: ohm-plugins-misc (= ${binary:Version})
XB-GIT-ID: ${Git-Id}
Description: Debug symbols for OHM miscallaneous plugins.
 Debug symbols for OHM miscallaneous plugins.
