#!/usr/bin/make -f
SHELL+= -e

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

GIT_HEAD := $(shell git --version >& /dev/null && \
               git log -1 --pretty='format:%H' HEAD || echo "no git")

DEB_TAR_SRCDIR = ${DEB_SOURCE_PACKAGE}-${DEB_UPSTREAM_VERSION}
DEB_DH_INSTALL_SOURCEDIR = debian/tmp

DEB_CONFIGURE_USER_FLAGS = --disable-static

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Omit *.la files but warn about other missing things.
binary-post-install/%::
	rm -f debian/*/usr/lib/*/*.la
common-binary-post-install-arch:: list-missing

post-patches:: debian/stamp-autogen

debian/stamp-autogen:
	cd $(DEB_BUILDDIR) && ./autogen.sh
	touch $@

debian/control::
	@sed -e 's/__GIT_ID__/$(GIT_HEAD)/g' debian/control.in > $@

clean::
	-rm -rf debian/stamp-autogen

# do not include docs and changelogs in these packages
DEB_INSTALL_DOCS_ohm-plugins-misc := --no-act
DEB_INSTALL_CHANGELOGS_ohm-plugins-misc := --no-act


